@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
/**/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    overflow-x: hidden;

    background-color: #353535;
}

header{
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-position: center 100%;
    background-clip: border-box;
    background-size: cover;


    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 0 0 30px 30px;
}

nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}
nav > *{
    width: 30%;
    height: 50px;
    box-sizing: border-box;
    border: none;
}

section{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    flex-wrap: wrap;
}

h1{
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    font-size: 48px;
}

.ficha{

    margin: 10px;
    box-sizing: border-box;

    width: clamp(360px, 700px, 90%);

    color: darkgray;

    padding: 30px;

    font-family: 'Noto Serif', serif;

    background-color: #444444;
}

.combat-area, .special-abilities, .actions, .proficiencies, .speed{
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}


ul{
    background-color: rgba(41, 41, 41, 0.707);
    width: auto;
    padding: 10px;

    border-radius: 10px;

    font-size: 18px;
    font-family: 'Noto Serif', serif;
}

ul > *{
    list-style: none;
    margin: 5px;
}

hr{
    border-color: rgba(243, 241, 241, 0.446);
}

dl{
    font-family: 'MedievalSharp', cursive;
    font-size: 21px;
    font-weight: bold;
}

ul dl{
    padding-top: 15px;
    border-top: 1px solid rgba(196, 196, 196, 0.741);
}

ul dl:first-child{
    border: none;
}

dd{
    font-family: 'Noto Serif', serif;
}

.name{
    font-size: 38px;
    font-family: 'MedievalSharp', cursive;
    margin-bottom: -10px;
}

table{
    border-collapse: collapse;
    border: 1px solid rgba(196, 196, 196, 0.741);
    width: 100%;
}

td{
    flex-direction: row;
    text-align: center;
    border: 1px solid rgba(196, 196, 196, 0.741);
    height: 30px;
}


input, select, button{
    background-color: #444444;
    color: darkgrey;
    padding: 5px;
    border-radius: 3px;


    transition: all 200ms ease;
}

select:hover{
    cursor: pointer;
}

button:hover{
    color: #444444;
    background-color: darkgrey;
    cursor: pointer;
}


.capitalize{
    text-transform: capitalize;
}